body{
    background-color: #354445;
    height: 100vh;
}
.body{
    min-height: calc(100vh - 220px);
    margin: 0px;
    color: #d7d7d7;
    font-family: 'Gudea', sans-serif;
}
.modal{
    color: black;
}
.footer{
    /*background-image: url("/static/img/bg-footer.png");*/
    background-size: cover;
    width: 100%;
    height: 143px;
    border-top: 2px solid #915B29;
}

.dark-bg{
    background-color: #051210;
}
.white-bg{
    background-color: #D7D7D7;
}

.white-link{
    text-decoration: none;
    color: #D7D7D7
}
.no-padding{
    padding: 0px;
}
.no-margin{
    margin: 0px;
}
.no-margin-top{
    margin-top: 0px;
}
.no-button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.no-button:focus{
    outline: none;
}
.scroll-y{
    overflow-y : scroll;
}
.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
	border-radius: 50%;
	background-color: transparant;
}

.scrollbar::-webkit-scrollbar
{
	width: 5px;
	background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.0);
	background-color: #d7d7d7;
}
h1{
    color: #d7d7d7;
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 8px;
}

.card{
    border: none;
    border-radius: 0px;
}
.card>.list-group:first-child .list-group-item:first-child{
    border-radius: 0px;
}

.card>.list-group:last-child .list-group-item:last-child{
    border-radius: 0px;
}
.list-group-item{
    background: rgb(145,91,41);
    background: linear-gradient(325deg, rgba(145,91,41,1) 0%, rgba(143,96,53,1) 100%);
    color: #d7d7d7;

}
h2{
    color: #d7d7d7;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    padding: 3px;
    margin: 0px;
    width: 100%;
    text-align: center;
}
h3{
    color: #d7d7d7;
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 8px;
}
.vtext{
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    position: absolute;
    top: 40%;
    white-space: nowrap;

}
.black{
    color:black;
}
.row{
    margin: 0px;
}
.result{
    padding: 15px;
    background-size: cover;
    height: calc((100vh - 260px));
    color:white;
    background-color: #051210;
}
.ow{
    background-image: url("/static/img/result_ow.png");
}
.rl{
    background-image: url("/static/img/result_rl.png");
}
.r6{
    background-image: url("/static/img/result_r6.png");
}
.lol{
    background-image: url("/static/img/result_lol.png");
}
/* Table */

.table{
    color: #d7d7d7;
}
.table td{
    border-top: 1px solid #915B29
}

/*
*  NavBar
*/
.custom{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #294744;
}
nav.custom{
    border-bottom: 5px solid #915B29;
}
.logo{
    border-bottom: 2px solid black;
    object-fit: cover;
    width: 100%;
    height: 135.51px;
}
nav > span{
    text-decoration: none;
    color: #d7d7d7;
    font-family: 'Bebas Neue', cursive;
    margin-left: 75px;
    font-size: 24px;
    padding: 15px;
    line-height: 36px;
}
nav > div > ul {
    height: 68px;
}
nav > div > ul > li{
    margin-left: 20px;
}
nav > div > ul > li:hover{
    background-color: rgba(0,0,0,0.3);
}
nav > div > ul > li > a{
    text-decoration: none;
    color: #d7d7d7;
    font-size: 18px;
    margin-left: 25px;
    margin-right: 25px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 15px;
}
nav > div > ul > li > a:hover{
    text-decoration: none;
    color: #d7d7d7;
}
/*
*  Vertical Navbar
*/
.vertical-navbar{
    min-height: calc(100vh - 220px);
    background-color: #051210;
    border-right: 2px solid #915B29;
    padding-right: 0px;
    padding-left: 0px;
}
.btn-nav{
    background-color: rgba(255,255,255,0.6);
    font-size: 24px;
    width: 100%;
    border-radius: 0px;
    padding: 0px;
    color: #d7d7d7;
}
.btn{
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn:hover{
    color: inherit;

}
.btn-nav.collapsed{
    background-color: transparent;
    box-shadow: none;
}
.btn.focus, .btn:focus{
    box-shadow: none;
}
.form-control{
    margin: 5px;
}
.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}
