{% load static %}
{% block footer %}
<style>
    .network{
        text-decoration : none;
        color: #d7d7d7;
        font-size: 48px;
        padding: 35px;
        text-align: right;
        width: 100%;
    }
    .network:hover, .network>span:hover{
        text-decoration: none;
        color: grey;
    }
</style>

<div class="custom footer">
    <div class="row" style="padding:30px;">
        <!--<div class="col-sm-3">
            <img src="{% static 'img/.png' %}" style="height:50px">
            <h2 class="white text-left">
                Contact: contact@gmail.com
            </h2>
        </div>-->
        <div class="col-sm-4 text-center">
            <a class="network" href="https://discord.gg/"><i class="fab fa-discord"></i></a>
        </div>
        <div class="col-sm-4 text-center">
            <a class="network" href="https://twitter.com/"><i class="fab fa-twitter-square"></i></a>
        </div>
        <div class="col-sm-4 text-center">
            <a class="network" href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</div>
{% endblock %}