{% extends "base.html" %}
{% load static %}

{% block content %}

<div>
    <div class="body row">
        <div class="col-sm-10 no-padding dark-bg">
            <div class="row">
                <div class="col-2 text-center"><button class="no-button" onclick="add_week(0)"><h1><i class="fas fa-angle-left"></i></h1></button></div>
                <div class="col-8 text-center"><h1 class="text-center" id="datePlanning"></h1></div>
                <div class="col-2 text-center"><button class="no-button" onclick="add_week(2)"><h1><i class="fas fa-angle-right"></i></h1></button></div>
            </div>

            <div class="row" id="planning">

            </div>
        </div>
        <div class="col-sm-2" style="padding: 0px;">
            <h1 class="text-center">En stream actuelement</h1>
                <div class="spinner-border" role="status" style="margin-left:calc(50% - 22.5px);" id="stream-loading">
                  <span class="sr-only">Loading...</span>
                </div>
            <div class="card" style="margin: 10px;">

              <ul class="list-group list-group-flush" id="channels">

              </ul>
            </div>
        </div>
</div>

<script>
    var week
    var year

    function load_planning(){
       $.ajax({
       url : '/get_planning',
       type : 'GET',
       data: {
         week: week,
         year: year
       },
       dataType : 'json',
       success : function(result, status){
            year = result["info"]["year"]
            week = result["info"]["week"]
            document.getElementById("planning").innerHTML = ''
            var planningHtml = ''
                for (var i in result["data"]){
                    for (var key in result["data"][i]){
                        planningHtml += '<div class="col result">'+
                            '<h2>' + key +'</h2>'+
                            '<ul class="list-group list-group-flush scroll-y scrollbar" style="height: calc(100% - 30px)">'
                            for (entry in result["data"][i][key]){
                                 planningHtml += '<li class="list-group-item">'+
                                    '<div class="row no-padding">'+
                                        '<div class="col-2 no-padding" style="width: 100px;">'
                                        if(result["data"][i][key][entry]["score1"]){
                                            planningHtml += '<h3 class="vtext">MATCH</h3>'
                                        }else{
                                            planningHtml += '<h3 class="vtext">MATCH à VENIR</h3>'
                                        }
                                        planningHtml += '</div>'+
                                        '<div class="col-10 no-padding" >'+
                                            '<h3 class="no-margin-top">'+ result["data"][i][key][entry]["game"] +' <br/><i> - '+ result["data"][i][key][entry]["time"] +' - </i></h3>'
                                            if(result["data"][i][key][entry]["score1"]){
                                                planningHtml +=  result["data"][i][key][entry]["team1"] +' - '+ result["data"][i][key][entry]["score1"] +'<br/> '+
                                                result["data"][i][key][entry]["team2"] +' - '+ result["data"][i][key][entry]["score2"] +'<br/> '
                                            }else{
                                                planningHtml += result["data"][i][key][entry]["team1"] + '<br/> '+
                                                result["data"][i][key][entry]["team2"] +'<br/> '
                                            }

                                        '</div>'+
                                    '</div>'+
                                '</li>'
                            }
                            planningHtml += '</ul>'+
                        '</div>'
                    }

                }

                document.getElementById("planning").innerHTML += planningHtml
                document.getElementById("datePlanning").innerHTML = year + " - Semaine " + (week+1)

       },

       error : function(result, status, erreur){
            console.log(status, ": ",erreur, "<br/>",result)


       }

        });
    }

    function add_week(value){
        week = week + value
        load_planning()
    }

    $(document).ready(function(){
    week = parseInt({{ week }})+1
    year = parseInt({{ year }})
    load_planning()
    $.ajax({
       url : '/get_streamers',
       type : 'GET',
       dataType : 'json',
       success : function(result, status){
            document.getElementById("stream-loading").remove();
            for (var i in result){

                var card =  '<li class="list-group-item"> ' +
                                '<div class="row"> ' +
                                    '<div class="col-10"> ' +
                                        '<b>' + result[i].channel.display_name + '</b> <br/> ' +
                                        '<i>' + result[i].game + '</i> ' +
                                    '</div> ' +
                                    '<div class="col-2"> ' +
                                        '<a href="https://www.twitch.com/' + result[i].channel.display_name + '" target="_blank"> ' +
                                            '<i class=" white-link align-middle fas fa-angle-right" style="font-size: 22px;"></i> ' +
                                        '</a> ' +
                                    '</div> ' +
                                '</div> ' +
                            '</li> '
                document.getElementById("channels").innerHTML += card
           }
       },

       error : function(result, status, erreur){
            console.log(status, ": ",erreur, "<br/>",result)


       }

    });
    });



</script>
{% endblock %}