{% load static %}
{% block navbar %}

<!--<img class="logo" id="logo" src="{% static 'img/head.png' %}"/>-->
<div class="col-md-12" style="padding: 0px;">
    <nav class="custom navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon white"><i class="fas fa-bars"></i></span>
    </button>
    <span class="navbar-brand" style="float: left;">Gatch</span>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="float: left;">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/team">Nos Équipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/staff">Staff</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link disabled" href="/affiliate">Partenaires</a>
          </li>-->
          <!--<li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>-->
          {% if user.is_staff %}
          <li class="nav-item active">
            <a class="nav-link" href="/admin">Administrer</a>
          </li>
          {% endif %}

        </ul>
    </div>
    <div style="float: right;">
        <ul class="navbar-nav">
        {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            <!--<li class="nav-item"><a class="nav-link" href="/profil" style="margin-top:7.5px"><img style="width: 40px; height: 40px; border-radius: 50%; padding:0px;" src="{{user.picture}}" /></a></li>-->
        {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'social:begin' 'google-oauth2' %}">Login</a></li>
        {% endif %}
        </ul>
    </div>
</nav>
</div>


{% endblock %}